.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(69, 1, 179);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: rgb(69, 1, 179);
  border: 1px solid rgb(98, 0, 255);
}

.input:hover + .icon {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}



main {
    height: auto;
    width: auto;
  }
  
  header {
    height: 50px;
    background-color: #4E0F8B;
    width: 100%;
  }
  
  nav {
    height: 50px;
    background-color: #4E0F8B;
    display: flex;
    justify-content: end;
  }
  
  ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 10px !important;
    align-items: center;
  }
  
  a {
    text-decoration: none !important;
    color: #fff !important;
  }
  
  .title {
    text-align: center;
  }
  
  .buscador_usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .buscador_usuario form {
    width: 350px;
  }
  
  .buscador_usuario button {
    background-color: #4e0f8b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
  }
  
  .buscador_usuario button:hover {
    color: #4e0f8b;
  }
  
  .Datos {
    width: 40%;
    height: 85%;
    border-radius: 30px;
    background-color: #B7A0CE;
    margin-top: 100px;
  }
  
  .propiedades {
    font-size: 20px;
  }
  
  h3 {
    font-size: 15px;
    margin-left: 50px;
    width: 50%;
  }
  
  .input-agregar {
    background-color: #B7A0CE;
    border-radius: 0%;
    border-bottom: 1px solid black;
    margin-right: 20px;
  
  }
  
  .text-agregar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .foto {
    margin-top: 40px;
  }
  
  .text-foto {
    display: flex;
    justify-content: center;
  }
  
  p {
    font-size: 20px;
  }
  
  
  .espacio-foto {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto-usuario {
    height: 90px;
    width: 90px;
    border-radius: 20px;
    background-color: #D9D9D9;
  }
  
  .seleccionar-foto {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .archivo {
    border-radius: 0%;
  }
  
  .opciones {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  select {
    color: #fff !important;
  }
  
  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }
  
  a {
    padding: 15px;
    height: 60px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .barra {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  input {
    height: 30px;
    border-radius: 30px;
    background-color: #0000002a;
    border: none;
  }
  
  table {
    background-color: #B7A0CE;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
  }
  
  .table img {
    width: 50px;
    height: 50px;
  }
  
  section {
    margin-top: 20px;
  }
  
  
  
  .search-container input[type=search] {
    flex: 1;
    border: none;
    outline: none;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input[type=search] {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    color: #555;
    box-shadow: 0 0 10px rgba(153, 0, 255, 0.5);
    outline: none;
  }
  
  .search-container input[type=search]:focus {
    box-shadow: 0 0 10px rgba(153, 0, 255, 1);
  }
  
  
  
  .search-container input[type=search]:focus +::before {
    border-color: #4E0F8B;
  }
  
  
  .filter {
    margin-left: 20px;
    cursor: pointer;
    color: #4E0F8B;
  }
  
  .tm{
    font-size: 25px;
  }
  
  .color-tittle{
    color: #4E0F8B;
    align-items: center;
  }
  
  .imput-per{
    position: relative;
    margin: 40px;
  }
  
  input{
    font-size: 16px;
    width: 200px;
    border-bottom: 2px solid #4e0f8b;
    background: transparent;
    outline:invert;
  }
  
  label{
    color: #4E0F8B;
  }
  
  @media (min-width:360px) and (max-width:767px) {
    a{
      font-size: 10px !important;
    }
  }

  @media (min-width:768px) and (max-width:1279px) {
    a{
      font-size: 13px !important;
    }
  }