
body{
    height: 100vh;
  }

  button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  }
  
  button:hover {
    transform: translate(5px, -5px);
  }
  
  header{
    height:  8% !important;
  }
  
  main{
    height: 90% !important;
  }
  
  footer{
    height: 12% !important;
  }
  
  main {
    height: auto  !important;
    min-height: 80vh;
    margin: 0% !important;
    background-color: #c5b7d3;
  }   
  
  .detalleProducto{
    background-color: #d9d9d976 ;
  }

  .contenedorImagenProducto{
    background-color: #B7A0CE;
    border-radius: 20px;
  }

  .headerDetalleProducto{
    height: 10%;
  }
  
  .bodyDetalleProducto{
    height: 90%;
  }

  .calificacionProducto{
    height: 15%;
  }

  .carritoProduto{
    height:15%;
  }

  .DescripcionProducto{
    height: 70%;
  }

  .agregarCarrito{
    background-color: #4E0F8B !important;
    color: #fff !important;
    margin-left: 10px;
  }

  .conatiner-pedidos {
      justify-content: center;
      align-items: center !important;
  }
  
  .detalleProducto{
      height: 90% !important;
  }
  
  .pedidos-carts::-webkit-scrollbar {
      width: 0px;
  }
  
  .pedidos-carts::-webkit-scrollbar-thumb {
      background-color: #4E0F8B;
  }
  
  footer {
      height: 13vh;
  }
  
  a {
      font-size:14px;
      font-weight:700
    }
    .superNav {
      font-size:13px;
    }
    .form-control {
      outline:none !important;
      box-shadow: none !important;
    }
    @media screen and (max-width:540px){
      .centerOnMobile {
        text-align:center
      }
    }