body {
    height: 100vh;
}

header {
    height: 8% !important;
}

main {
    height: 90% !important;
}

footer {
    height: 12% !important;
}

main {
    height: auto !important;
    min-height: 80vh;
    margin: 0% !important;
    background-color: #c5b7d3;
}


.iniciarSesion, .registrarse{
    border-radius: 5px;
    background-color: #B7A0CE;
    color: black;
    border: #B7A0CE;
}



a {
    font-size: 14px;
    font-weight: 700
}

.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center
    }
}