body{
    height: 100vh;
    width: 100%;
    background-color: wheat;
}

header{
    height: 5vh;
    width: 100%;
    background-color: #4E0F8B;
}

main{
    display: flex;
}

.Login{
    width: 50%;
    height: 90vh;
    background-color: #E4E1E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 70%;
    width: 60%;
}

form{
    width: 100%;
    height: 93%;
    background-color: #FFFFFF;
}

.datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.user, .contra{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.lbluser{
    margin-top: 10px !important;
}

input{
    width: 60% !important;
}

.iniciarSesion{
    height: 40%;
    display: flex;
    justify-content: center;
}

button{
    height: 40px;
    width: 40%;
    border-radius: 15px;
    background-color: #4E0F8B;
    color: #FFFFFF;
}

.Infor{
    width: 50%;
    height: 90vh;
    background-color: #4E0F8B;
}

footer{
    width: 100%;
    height: 5vh;
    background-color: #000000;
}