.body {
    margin: 0%;
    padding: 0%;
}


header {
    height: 50px;
    background-color: #4E0F8B;

}

nav {
    height: 50px;
    display: flex;
}

ul {
    padding-left: 10%;
    list-style: none;
    display: flex;
    column-gap: 30px;
}

a {
    color: #FFFFFF !important;
    text-decoration: none;
}

.izquierda {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Logo-nav {
    height: 40px;
    width: 50px;
}

.derecha {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.buscador {
    height: 50%;
    width: 50%;
    border-radius: 30px;
    border: none;
}

.foto-perfil {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
}

.container-fluid {
    height: 100vh;
    background-color: #E4E1E6;
    width: 100%;
}

.buscador {
    margin-left: 100px;
    width: 70%;
    height: 40%;
    border-radius: 20px;
    border: none;
}

.foto-perfil {
    margin-left: 30px;
    height: 50%;
    width: 5%;
    border-radius: 50%;
    background-color: gray;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    column-gap: 20px;
}


.filtros {
    width: 20%;
    height: 70%;
    background-color: #D9D9D9;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.filtro1 {
    width: 100%;
    height: 30%;
}

.filtro-sony,
.filtro-Xbox,
.filtro-Nintendo {
    width: 100%;
    height: 20%;
    display: flex;
    column-gap: 10px;
    margin-left: 10px;
}

.filtro-300,
.filtro-400,
.filtro-500 {
    width: 100%;
    height: 20%;
    display: flex;
    column-gap: 10px;
    margin-left: 10px;
}

.filtro-nuevo,
.filtro-usado,
.filtro-reacondicioando {
    width: 100%;
    height: 20%;
    display: flex;
    column-gap: 10px;
    margin-left: 10px;
}

.filtrado {
    color: black;
}

.marca {
    width: 100%;
    height: 30%;
}

.precio {
    width: 100%;
    height: 30%;
}

.condicion {
    width: 100%;
    height: 30%;
}

.filtro2 {
    margin-top: 10px;
    width: 100%;
    height: 30%;
}

.filtro3 {
    margin-top: 10px;
    width: 100%;
    height: 30%;
}

.nombre-filtro {
    color: black;
    text-align: center;
}

.productos {
    width: 80%;
    height: 90%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.card {
    width: 80%;
    height: 80%;
    margin: 20px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.card-body {
    padding: 0%;
}

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    height: 90%;
    width: 80%;
    border-radius: 15px;
}

.nombre-precio {
    width: 100%;
    height: 30%;
    text-align: center;
}

h3 {
    font-size: 20px;
}

p {
    color: blue;
}

.acciones {
    display: flex;
    justify-content: center;
    text-align: center;
}

.agregar-carrito {
    padding: 5px;
    margin: 5px;
    background-color: #4E0F8B;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

aside {
    width: 100%;
    height: 20em;
}

.titulo-ofertas {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.producto-ofertas {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-oferta {
    width: 100%;
    height: 100%;
}

.nombre-precio-oferta {
    text-align: center;
}

.accion-oferta {
    display: flex;
    justify-content: center;
}


footer {
    width: 100%;
    height: 100px;
    background-color: cadetblue;
}



@media (min-width:360px) and (max-width:767px) {
    .container-fluid {
        height: 100vh;
        width: 100%;
    }

    header {
        height: 30px !important;
    }

    nav {
        height: 30px !important;
        display: flex;
    }

    .nav {
        display: flex;
    }

    ul {
        column-gap: 5px;
        margin: 0%;
    }

    a {
        color: #FFFFFF !important;
        text-decoration: none;
        font-size: 9px !important;
        padding: 0% !important;
    }

    .izquierda {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .Logo-nav {
        height: 20px;
        width: 20px;
    }

    .derecha {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .buscador {
        height: 15px;
        width: 80% !important;
        border-radius: 30px;
        border: none;
    }

    .foto-perfil {
        margin-left: 10px;
        margin-right: 10px;
        height: 20px;
        width: 50px;
        border-radius: 50%;
        background-color: gray;
    }

    main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .filtro1 {
        width: 100%;
        height: 100%;
    }

    .filtro2 {
        margin-top: 0%;
        width: 100%;
        height: 100%;
    }

    .filtro3 {
        margin-top: 0%;
        width: 100%;
        height: 100%;
    }

    .filtros {
        width: 100%;
        height: 20%;
        background-color: #D9D9D9;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 10px;
    }

    .productos {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 20px;
    }

    a {
        font-size: 10px;
    }

    aside {
        width: 100%;
        height: 13em;
    }

    .titulo-ofertas {
        width: 100%;
        height: 20%;
        background-color: azure;
        display: flex;
        justify-content: center;
    }

    .producto-ofertas {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card-oferta {
        width: 100%;
        height: 80%;
    }

    h3 {
        font-size: 10px;
    }

    p {
        font-size: 8px;
    }

    .logo {
        height: 80%;
        width: 100%;
    }

    .imagen-nav {
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .links ul {
        margin-left: 30px;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 4px;
    }

    .container-fluid {
        height: 100vh;
        background-color: #E4E1E6;
        width: 100%;
    }

}


@media (min-width:768px) and (max-width:1279px) {

    .container-fluid {
        height: 70vh;
        width: 100%;
    }

    main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .filtro1 {
        width: 100%;
        height: 100%;
    }

    .filtro2 {
        margin-top: 0%;
        width: 100%;
        height: 100%;

    }

    .foto-perfil {
        margin-left: 10px;
        margin-right: 10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gray;
    }

    .filtro3 {
        margin-top: 0%;
        width: 100%;
        height: 100%;
    }

    .filtros {
        width: 100%;
        height: 20%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .productos {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 20px;
    }


    .logo {
        height: 80%;
        width: 100%;
    }

    .imagen-nav {
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .links ul {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 15px;
    }

    .container-fluid {
        height: 100vh;
        background-color: #E4E1E6;
        width: 100%;
    }

    ul {
        column-gap: 5px;
        margin: 0%;
    }

}

.site-footer {
    background-color: #4E0F8B;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    margin-top: 90px;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;

}

.footer-links li {
    display: block;

}

.footer-links a {
    color: #ffff;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        font-weight: 600
    }
}

hr {
    margin: 0%;
}