body{
    background-color: antiquewhite;
}

header{
    height: 5vh;
    background-color: aqua;
}

main{
    background-color: blueviolet;
    height: 90vh;
}

footer{
    background-color: blue;
    height: 5vh;
}
