<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/public/carrito.css">
    <link rel="stylesheet" href="../../resources/css/icons.scss" />
    <title>Carrito | Shosole </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light p-3 shadow-sm h-auto">
      
    </nav>

    <main>
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr id="records"></tr>
                    <tr>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">PRECIO (US$)</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">SUBTOTAL (US$)</th>
                        <th scope="col">ACCIONES</th>

                    </tr>
                </thead>
                <tbody id="tbody-rows"></tbody>
            </table>
        </div>
        <div class="col-2">
            <div class="card" style="width: 14rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Mi carrito</h5>  
                  <hr> 
                 
                  <h6 class="card-subtitle mb-2 text-muted">Total a pagar</h6>    
                    <label class="price"><sup>$</sup><b id="pago"></b></label>
                   
                  <hr>
                    <button class="checkout-btn" onclick="finishOrder()">Finalizar compra</button>
                </div>
              </div>
        </div>
    </main>

    <div class="modal fade" id="item-modal" tabindex="-1" aria-labelledby="item-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="center-align">Cambiar cantidad</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="item-form" method="post" enctype="multipart/form-data">

                        <input class="invisible" type="number" id="id_detalle" name="id_detalle">

                        <div class="input-field col s12 m4 offset-m4">
                            <i class="material-icons prefix">list</i>
                            <input type="number" id="cantidad" name="cantidad" min="" class="validate" required>
                            <label for="cantidad">Cantidad</label>
                        </div>
                        <div class="col s12 center-align">
                            <!-- Enlace para cerrar el componente Modal -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <!-- Botón para enviar el formulario -->
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer class="bg-dark">

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="../../resources/js/sweetalert2.all.min.js"></script>
        <script src="../../controllers/components.js"></script>
        <script src="../../controllers/public/account.js"></script>
        <script src="../../controllers/public/carrito.js"></script>
</body>

</html>

