<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../resources/css/public/login-clientes.css ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
    <header>
        <nav>
            <div class="logo-header">
                <img class="header-logo" src="../../resources/img/logo_sin_name.png" alt="">
            </div>
            <div class="links">
                <ul class="link">
                    <li><a href="../public/recuperacion_.html">Ayuda</a></li> <i class="fa-sharp fa-solid fa-circle-info"></i>
                    <li><a href="../public/main-publico.html">Sitio Publico</a></li><i class="fa-solid fa-house"></i>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="login">
            <div class="jijija">
                <form class="form-login">
                    <h1>LOGIN</h1>
                    <div class="usuario">
                        <input type="text">
                        <label class="lbl-usuario">
                            <span class="lbl-usuario">
                                Usuario
                            </span>
                        </label>
                    </div>
                    <div class="contraseña">
                        <input type="text">
                        <label class="lbl-contraseña">
                            <span class="lbl-contraseña">
                                Contraseña
                            </span>
                        </label>
                    </div>
                    <div class="opciones-login">
                        <div class="recordar">
                            <input type="checkbox" class="recordar-check">
                        </div>
                        <div class="texto-recordar">
                            <p>Recordar</p>
                        </div>
                        <div class="Olvidar-clave">
                            <a class="recuperacion" href="../public/recuperacion_.html">Olvidaste tu contra?</a>
                        </div>
                    </div>
                    <div class="Iniciar-sesion">
                        <a class="logear" href="../public/index.html">Entrar</a>
                        <a class="registrarse" href="../public/registro_cliente.html">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="imagen">
            <div class="logo">
                <img src="../../resources/img/logo_login.png" alt="">
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/9049a2fb5d.js" crossorigin="anonymous"></script>
</body>

</html>