header {
    height: 50px;
    background-color: #4E0F8B;
    
}

nav{
    height: 50px; 
    display: flex;
}

a{
    color: #FFFFFF !important;
    text-decoration: none;
}

.izquierda{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Logo-nav{
    height: 40px;
    width: 50px;
}

.derecha{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.buscador{
    height: auto;
    width: 50%;
    border-radius: 30px;
    border: none;
}

.foto-perfil{
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
}

.container-fluid {
    padding: 0%;
}

body {
    background-color: #FFFFFF;
}

.carusel {
    height: 700px;
    background-color: brown;
}

.carousel-inner {
    height: 700px !important;
}

.d-block {
    height: 700px !important;
}

.consolas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;

}

.consolas {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 150px;

}

.consola {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.ps2 {
    border: 1px solid black;
    height: 400px;
    width: 550px;
}

.nintendo {
    height: 400px;
    width: 550px;
}

.xbox {
    height: 400px;
    width: 550px;
}

.ps5 {
    height: 400px;
    width: 550px;
}

.imagen-cuadro {
    height: 100%;
    width: 100%;
}

.imagen-cuadro img {
    height: 100%;
    width: 100%;
}

.texto {
    height: 400px;
    background-color: #CCCCCC;
}

.dos-partes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.parrafo {
    font-size: 30px;
}

.imagen-parrafo {
    display: flex;
    align-items: center;
    justify-content: center;
}



.partes {
    width: 47%;
    height: 80%;
}

@media (min-width:360px) and (max-width:767px) {
    .carusel {
        height: 300px;
    }

    .carousel-inner {
        height: 300px !important;
    }

    .d-block {
        height: 300px !important;
    }

    .consolas {
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }

    header {
        height: 30px;
    }
    
    nav{
        height: 30px;
        display: flex;
    }
    
    .nav{
        display: flex;
    }

    ul{
        column-gap: 6px;
    }

    a{
        color: #FFFFFF !important;
        text-decoration: none;
        font-size: 9px;
        padding: 0% !important;
    }
    
    .izquierda{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .Logo-nav{
        height: 20px;
        width: 20px;
    }
    
    .derecha{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .buscador{
        height: 15px;
        width: 50%;
        border-radius: 30px;
        border: none;
    }
    
    .foto-perfil{
        margin-left: 10px;
        margin-right: 10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gray;
    }

    .consola {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .ps2 {
        height: 150px;
        width: 170px;
    }

    .nintendo {
        height: 150px;
        width: 170px;
    }

    .xbox {
        height: 150px;
        width: 170px;
    }

    .ps5 {
        height: 150px;
        width: 170px;
    }

    .texto {
        height: 200px;
    }

    .dos-partes {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

    .partes {
        width: 47%;
        height: 80%;
    }

    .parrafo {
        font-size: 14px;
    }

    .imagen-parrafo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagen-retro {
        width: 80%;
        height: 80%;
    }

}

@media (min-width:768px) and (max-width:1279px) {
    .carusel {
        height: 500px;
    }
    
    a{
        font-size: 12px;
    }

    .carousel-inner {
        height: 500px !important;
    }

    .d-block {
        height: 300px !important;
    }

    .consolas {
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;

    }

    .consola {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .ps2 {
        height: 200px;
        width: 300px;
    }

    .nintendo {
        height: 200px;
        width: 300px;
    }

    .xbox {
        height: 200px;
        width: 300px;
    }

    .ps5 {
        height: 200px;
        width: 300px;
    }

    .texto {
        height: 300px;
    }

    .dos-partes {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

    .partes {
        width: 47%;
        height: 80%;
    }

    .parrafo {
        font-size: 23px;
    }

    .imagen-parrafo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagen-retro {
        width: 60%;
        height: 80%;
    }
}



@media (min-width:1280px) and (max-width:1920px) {
    .carusel {
        height: 800px;
    }

    .carousel-inner {
        height: 800px !important;
    }

    .d-block {
        height: 800px !important;
    }

    .ps2 {
        height: 90%;
        width: 90%;
    }

    .nintendo {
        height: 90%;
        width: 90%;
    }

    .xbox {
        height: 90%;
        width: 90%;
    }

    .ps5 {
        height: 90%;
        width: 90%;
    }

    .texto {
        height: 50vh;
    }

    .parrafo {
        font-size: 50px;
    }

    .imagen-retro {
        height: 100%;
    }
}

@media (min-width:1280px)and (max-width:1800px) {
    .parrafo {
        font-size: 35px;
    }
}