<section class="filters-mobile w-100">
    <div class="input-group search-fill p-2 ">
        <input type="text" class="form-control input-search" placeholder="Busca una consola"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-search" type="button">Buscar</button>
        </div>
    </div>
    <div class="input-group filter-group filt-mobile price p-1">
        <div class="rango  d-flex flex-column align-items-center m-1">
            <label for="customRange1" class="form-label text-center lblRango w-100">Rango de precio</label>
            <input type="range" class="form-range w-75" id="customRange1">
        </div>
        <div class="select-marcas d-flex justify-content-center align-items-center m-1">
            <select class="form-select marca-select h-75 w-75 rounded" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>Marcas</option>
                <option value="1">Sony</option>
                <option value="2">Microsoft</option>
                <option value="3">Nintendo</option>
              </select>
        </div>
    </div>
</section>