<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Shosole </title>
  <link rel="stylesheet" href="../../resources/css/public/login.css" />
  <link type="image/png" rel="icon" href="../../resources/img/logo_sin_name.png">
  <script src="https://kit.fontawesome.com/7b39153ed3.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container" id="container">

    <!-- sign Up form section start-->
    <div class="form sign_up">
      <form method="post" id="first-use" autocomplete="off">
        <!-- heading -->
        <h1>Crea una cuenta</h1>
        <!-- social media icons -->
        <!-- <div class="social-container">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-google"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
        </div> -->
        <!-- input fields start -->
        <input type="text" placeholder="Nombres" name="nombres" id="nombres">
        <input type="text" placeholder="Apellidos" name="apellidos" id="apellidos">
        <input type="text" placeholder="Usuario" name="usu" id="usu">
        <input type="text" placeholder="Teléfono" name="telefono" id="telefono">
        <input type="text" placeholder="Dui" name="dui" id="dui">
        <input type="date" placeholder="Fecha de nacimiento" id="nacimiento" name="nacimiento">
        <input type="email" placeholder="Correo" name="correo" id="correo">
        <input type="password" placeholder="Contraseña" name="clave" id="clave">

        <button>Crear cuenta</button>
        <!-- input fields end -->
      </form>
    </div>
    <!-- sign Up form section end-->

    <!-- sign in form section start-->
    <div class="form sign_in">
      <form action="#" method="post" id="session-form">
        <!-- heading -->
        <h1>Iniciar Sesión</h1>
        <!-- social media icons -->
        <!-- <div class="social-container">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-google"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
        </div> -->
        <span>Inicia sesión con tu cuenta <3< /span>
            <!-- input fields start -->
            <input type="text" name="usuario" id="usuario" placeholder="Usuario">
            <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
            <span>¿Olvídastes tu <span class="forgot">contraseña?</span></span>
            <button>Inicia sesión</button>
            <!-- input fields end -->
      </form>
    </div>
    <!-- sign in form section end-->

    <!-- overlay section start-->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-pannel overlay-left">
          <h1>¿Ya tienes una cuenta?</h1>
          <p>Vamos a iniciar sesión</p>
          <button id="signIn" class="overBtn">Vamos</button>
        </div>
        <div class="overlay-pannel overlay-right">
          <h1>¿No tienes una cuenta?</h1>
          <p>Empecemos a crear tu cuenta</p>
          <button id="signUp" class="overBtn">Empecemos</button>
        </div>
      </div>
    </div>
    <!-- overlay section start-->
  </div>
  <script src="../../resources/js/sweetalert2.all.min.js"></script>
  <script src="../../controllers/components.js"></script>
  <script src="../../controllers/public/account.js"></script>
  <script src="../../controllers/public/login.js"></script>


</body>

</html>