<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/public/nosotros.css">
</head>

<body>
    <header>
        <nav>
            <div class="izquierda">
                <img class="Logo-nav" src="../../resources/img/logo_sin_name.png" alt="">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../dashboard/main.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../public/nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../dashboard/productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../public/carrito.html">Carrito</a>
                    </li>
                </ul>
            </div>
            <div class="derecha">
                <input class="buscador" type="text">
                <div class="foto-perfil">
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="mision">
                <div class="encabezado">
                    <h1>Mision</h1>
                </div>
                <div class="texto-mision">
                    <div class="texto-mision">
                        <p> Facilitar a las personas en la compra de todo tipo de consolas, llevar la nostalgia y la
                            diversión a todo el mundo.
                        </p>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../../resources/img/objetivo-removebg-preview.png" alt="">
                </div>
            </div>

            <div class="vision">
                <div class="encabezado">
                    <h1>Vision</h1>
                </div>
                <div class="texto-vision">
                    <div class="texto-vision">
                        <p> Convertirnos como empresa en un referente en la venta de consolas de videojuegos de todo
                            tipo y marca; y siempre ser la principal opción para las personas para en la adquisición de
                            las mismas, un lugar donde siempre puedes encontrar lo que buscas
                        </p>
                    </div>
                </div>
                <div class="imagen">
                    <img  class="vision-img" src="../../resources/img/vision.png" alt="">
                </div>
            </div>
        </div>

    </main>
    
</body>

</html>