<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil | Shosole</title>
    <link rel="stylesheet" href="../../resources/css/public/perfil.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
        <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="../../resources/img/foto_perfil.PNG" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>
            
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">Max Benjamín Herrador Marroquín</h3>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-signs"></i> Direccion:</li>
                <li><i class="icono fas fa-phone-alt"></i> Telefono:</li>
                <li><i class="icono fas fa-briefcase"></i> Dui </li>
                <li><i class="icono fas fa-building"></i> Género</li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion.</li>
                <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento.</li>
                <li><i class="icono fas fa-user-check"></i>Nombre de usuario.</li>
                <li><i class="icono fas fa-share-alt"></i> Correo usuario</li>
            </ul>
        </div>
        
    </div>
</section>
<!--====  End of tarjeta  ====-->
</body>

</html>

