<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/css/public/recuperar_usuario.css">
</head>

<body>
  <header>
    <nav>
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../public/login-clientes.html">Regresar</a>
          </li>
      </ul>
  </nav>
  </header>
  <main>
    <div class="container-fluid">
      <div class="gmail">
        <div class="imagen">
          <img class="gmail-img" src="../../resources/img/gmail-removebg-preview.png" alt="">
        </div>
        <div class="metodo-texto">
          <h1>Por correo electronico</h1>
        </div>
      </div>

      <div class="codigo-QR">
        <div class="imagen">
          <img class="qr-img" src="../../resources/img/qr-removebg-preview.png" alt="">
        </div>
        <div class="metodo-texto">
            <h1>Por codigo QR</h1>
        </div>
      </div>
    </div>
  </main>
</body>

</html>