<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../resources/css/public/registro_cliente.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <div class="logo-header">
                <img class="header-logo" src="../../resources/img/logo_sin_name.png" alt="">
            </div>
            <div class="links">
                <ul class="link">
                    <li><a href="../public/ayuda.html">Ayuda</a></li> <i class="fa-sharp fa-solid fa-circle-info"></i>
                    <li><a href="../public/index.html">Sitio Publico</a></li><i class="fa-solid fa-house"></i>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="login">
            <div class="personalizar-form">
                <form class="form-login">
                    <h1>REGISTRARSE</h1>
                    <div class="nombres">
                        <input type="text">
                        <label class="lbl-nombres">
                            <span class="txt-nombres">
                                Nombres:
                            </span>
                        </label>
                    </div>

                    <div class="apellidos">
                        <input type="text">
                        <label class="lbl-apellidos">
                            <span class="text-apellidos">
                                Apellidos:
                            </span>
                        </label>
                    </div>
                    <div class="dui">
                        <input type="text">
                        <label class="lbl-dui">
                            <span class="text-dui">
                                Dui:
                            </span>
                        </label>
                    </div>

                    <div class="correo">
                        <input type="text">
                        <label class="lbl-correo">
                            <span class="text-correo">
                                Correo:
                            </span>
                        </label>
                    </div>
                    <div class="direccion">
                        <input type="text">
                        <label class="lbl-direccion">
                            <span class="text-direccion">
                                Direccion:
                            </span>
                        </label>
                    </div>

                    <div class="dos-partes">
                        <div class="izquierda">
                            <div class="nacimiento">
                                <input type="date">
                                <label class="lbl-nacimiento">
                                    <span class="txt-nacimiento">
                                    </span>
                                </label>
                            </div>
                            <div class="usuario">
                                <input type="text">
                                <label class="lbl-usuario">
                                    <span class="txt-usuario">
                                        Usuario:
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="derecha">
                            <div class="genero">
                                <input type="text">
                                <label class="lbl-genero">
                                    <span class="txt-genero">
                                        Genero
                                    </span>
                                </label>
                            </div>
                            <div class="contraseña">
                                <input type="text">
                                <label class="lbl-contraseña">
                                    <span class="txt-contraseña">
                                        Contraseña
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="opciones-login">
                        <div class="recordar">
                            <input type="checkbox" class="recordar-check">
                        </div>
                        <div class="texto-recordar">
                            <p>Recordar</p>
                        </div>
                        <div class="Olvidar-clave">
                            <a class="recuperacion" href="../public/recuperacion_.html">Olvidaste tu contra?</a>
                        </div>
                    </div>
                    <div class="Iniciar-sesion">
                        <button class="registrarse"><a href="../public/index.html"></a>Registrarse</button>
                        <button class="loguear"><a href="../public/index.html"></a>Iniciar sesion</button>                        
                    </div>
                </form>
            </div>
        </div>
        <div class="imagen">
            <div class="logo">
                <img src="../../resources/img/logo_login.png" alt="">
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/9049a2fb5d.js" crossorigin="anonymous"></script>
</body>

</html>